@model Pagina1.Models.Registro

<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>

    <section style="background-color: #eee;">
        <form id="addUserForm">


            <div class="container py-5">
                <div class="row">
                    <div class="col-lg-4">
                        <h2>Manda tus datos y nos contactaremos contigo!</h2>
                        @using (Html.BeginForm("Registrar", "Home", FormMethod.Post)) { }

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                @*<input type="text" id="nombre" name=" Nombre" placeholder= "Nombre" required />*@
                                @Html.LabelFor(m => m.Name)
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Nombre" })
                            </div>
                            <div class="form-group col-md-6">
                                @*<input type="email" id="email" name="Email" placeholder = "Email" required />*@
                                @Html.LabelFor(m => m.Email)
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", type = "email" })
                            </div>
                        </div>
                        <div class="form-group">
                            @*<input type="text" id="address" name="Address" placeholder = "Fraccionamiento"  required />*@
                            @Html.LabelFor(m => m.Address)
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", placeholder = "Fraccionamiento" })
                        </div>
                        <!--<div class="form-group">-->
                            @*<input type="text" id="address" name="Address" placeholder = "Calle y número exterior" required />*@
                            <!--q@Html.LabelFor(m => m.Street)
                           q@Html.TextBoxFor(m => m.Street, new { q@class = "form-control", placeholder = "Calle y número exterior" })
                        </div>-->
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                @Html.LabelFor(m => m.State)
                                @Html.DropDownListFor(m => m.State, new SelectList(new[] { "Aguascalientes", "Ciudad de Mexico", "Durango", "Guadalajara", "Zacatecas" }), "Selecciona...", new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-2" Required>
                                @*<input type="text" id="address" name="Codigo" placeholder = "Código postal"  required />*@
                                @Html.LabelFor(m => m.Codigo)
                                @Html.TextBoxFor(m => m.Codigo, new { @class = "form-control", })
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>

                    </div>




                    <script>
           $('#addUserForm').submit(function (e) {
            e.preventDefault();

            var formData = $(this).serialize();

            $.ajax({
            type: 'POST',
            url: '@Url.Action("Registrar", "Home")',
            data: formData,
            success: function (response) {
                if (response === "true") {
                    alert("User added successfully!");
                } else {
                    alert("Error adding user: " + response);
                }
            },
            error: function (xhr, status, error) {
                alert("Something went wrong: " + error);
            }
        });


                    </script>
                    <div class="col-lg-8">
                        <!-- Información de contacto -->
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Tech Legal Solutions</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0"><strong>Support:</strong> <a href="mailto:TechLegal@legal.com">TechLegal@legal.com</a><br /></p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0"> <strong>Marketing:</strong> <a href="mailto:Marketing@legal.com">Marketing@legal.com</a></p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"></p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0"><strong>Address:</strong></p>
                                        <address>
                                            Ecatepec<br />
                                            Redmond, WA 98052-6399<br />
                                            <abbr title="Phone">P:</abbr>
                                            425.555.0100
                                        </address>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
</main>
